//- index.pug
doctype html
html
  head
    title Ren Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            #logo
              img(src="/static/img/ballet.png")
              | RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    
    section#introSection 
      | Welcome to 
      br
      | Ren's Dance Academy 

    section#missionSection
      h3 Our Mission
      section
        .card 
          h3 Promote Fitness through Dance
          .card-box 
            .card-img 
              img(src="/static/img/dance-fitness.jpg")
            .card-content
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident magni assumenda pariatur explicabo porro fugiat, natus libero aspernatur placeat, sed, harum praesentium.
        .card
          h3 Dance Contest
          .card-box 
            .card-img 
              img(src="/static/img/michael.png")
            .card-content
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident magni assumenda pariatur explicabo porro fugiat, natus libero aspernatur placeat, sed, harum praesentium.
        .card 
          h3 Leisure Activities for Children
          .card-box 
            .card-img 
              img(src="/static/img/leisure.jpg")
            .card-content
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident magni assumenda pariatur explicabo porro fugiat, natus libero aspernatur placeat, sed, harum praesentium.

    section#partnersSection
      h3 Our Partners
      #partners 
        img(src="/static/img/amazon.png", alt="Sponsor Image", class="spImage")
        img(src="/static/img/windows.png", alt="Sponsor Image", class="spImage")
        img(src="/static/img/walmart.jpg", alt="Sponsor Image", class="spImage")
        img(src="/static/img/linux.png", alt="Sponsor Image", class="spImage")

    section#footer
      | Copyright &copy; 2022 danceAcademyofRen.com | All rights reserved
    script
      include ../static/index.js