* {
    padding: 0px;
    margin: 0px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
}

h1{
    text-align: center;
    margin: 12px 0px;
}

.myInput{
    padding: 5px;
    margin: 7px 0px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 0px grey;
    font-size: 16px;
    outline: none;
}

.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg{
    padding: 5px;
    margin: 7px 0px;
    width: 39.9%;
    border: 2px inset rgb(130, 130, 130);
    box-shadow: 3px 3px 5px grey;
    border-radius: 8px;
    margin: 7px 0px;
    font-size: 16px;
    outline: none;
}

.btn{
    font-size: 16px;
    width: 40vw;
    border-radius: 8px;
    box-shadow: 3px 3px 4px grey;
    margin: 5px 0px;
    cursor: pointer;
    padding: 5px 0px;
    background-color: #5b5a5a;
    color: white;
}
